:root {
  --main-color: black;
  --main-accent-color: #fa4454;
  --main-accent-color-second: #921b25;
  --background-color:#fa4454;
  --main-font:'Courier New', Courier, monospace;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-accent-color);
  background-color: var(--background-color);
}

.icon {
  width: 100px;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  font-size: 2rem;
  color: var(--main-color);
}

.board {
  width:80vw;
  max-width: 1000px;
  height: auto;
  display: flex;
  border: 2px solid var(--main-accent-color);
  flex-flow: wrap;
}

.card {
  flex: 1 0 21%;
  border: 2px solid var(--main-accent-color);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
}

.card img {
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

.card p {
  font-weight: bold;
}

.card:hover {
  background-color: var(--main-accent-color-second);
}